<footer>
    <a href="https://api.whatsapp.com/send?phone=34669140379" target="_blank" class="floating-whatsapp">
        <img src="../../../assets/img/whatsapp.svg">
    </a>
    <div class="footer container">
        <div class="footer__logo grid container">
            <img src="" alt="">
        </div>
        <div class="footer__content grid">
            <div>
                <h2>Síguenos</h2>
                <ul>
                    <li>Instagram</li>
                    <li>Instagram</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div>
                <h2>Síguenos</h2>
                <ul>
                    <li>Instagram</li>
                    <li>Instagram</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div>
                <h2>Síguenos</h2>
                <ul>
                    <li>Instagram</li>
                    <li>Instagram</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
        <div class="footer__text">
            <p>Hearty Tattoo Studio © {{year}} | Developed with 🖤 by <a href="https://benimorales.com/" target="_blank"
                    rel="noopener">Beni
                    Morales</a>
            </p>
        </div>
    </div>
</footer>