<div class="grid trabajos__sect" data-aos="fade-up" data-aos-offset="100">
    <div *ngIf="direction === 'left'" class="trabajos__sect-img" data-aos="fade-up" data-aos-offset="100">
        <div class="slider" [style.visibility]="'hidden'" data-aos="fade-up" data-aos-offset="100">
            <img *ngFor="let image of img" [src]="image" alt="Slider Image"
                [class.fadeIn]="currentImageIndex === img.indexOf(image)">
        </div>
    </div>

    <div class="trabajos__sect-content">
        <div data-aos="fade-up" data-aos-offset="100" class="trabajos__item">
            <h2 class="collegiate">{{title}}</h2>
        </div>
        <h3 data-aos="fade-up" data-aos-offset="100">Tatuajes de {{title}}</h3>
        <p data-aos="fade-up" data-aos-offset="100">{{tattooDescription}}</p>
        <a data-aos="fade-up" data-aos-offset="100" href="#contacto">Reserva tu cita</a>
    </div>

    <div *ngIf="direction === 'right'" class="trabajos__sect-img" data-aos="fade-up" data-aos-offset="100">
        <div class="slider" [style.visibility]="'hidden'" data-aos="fade-up" data-aos-offset="100">
            <img *ngFor="let image of img" [src]="image" alt="Slider Image"
                [class.fadeIn]="currentImageIndex === img.indexOf(image)">
        </div>
    </div>
</div>