
.trabajos__sect {
    display: flex;
    justify-content: center;
    margin: 6em auto;
    
    .trabajos__sect-img {
        flex: 0 0 45%;
    }
    
    .trabajos__sect-content {
        flex: 0 0 45%;
        align-self: flex-end;
        margin-bottom: 1em;
        margin-left: -4em;
        padding: 1em;
        background-color: white;
        box-shadow: 9px 10px 43px 8px rgba(0,0,0,0.24);
        z-index: 1;
        border-radius: 3px;
        
        &.rightDirection{
            margin-left: 0;
            margin-right: -4em;
            box-shadow: 9px 10px 43px 8px rgba(0,0,0,0.24);
        }
        
        h2{
            font-size: 30px;
            @media screen and (min-width: 768px){
                font-size: 50px;
            }
        }
        
        h2,
        h3,
        p,
        a {
            color: black;
        }
    }
    
    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 650px;
        
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        
        img.fadeIn {
            opacity: 1;
        }
        
    }
}
@media screen and (max-width: 768px) {
    .trabajos__sect {
        display: flex;
        flex-direction: column;
        margin: 2em auto;

        @media screen and (min-width: 493px) {
            margin: 10em auto;
        }


        &.leftDirection {
            flex-direction: column-reverse;
        }

        .trabajos__sect-content,
        .trabajos__sect-content.rightDirection {
            margin: 0;
        }

    }
}