<header class="container">

    <nav class="mobile">

        <button [ngClass]="{'active-burger' : active}" (click)="activeMenu()" class="burger">
            <div></div>
            <div></div>
        </button>
        <ul [ngClass]="{'active' : active}" class="item-list">
            <li><a href="#inicio" (click)="deactiveMenu()">Inicio</a></li>
            <li><a href="#trabajos" (click)="deactiveMenu()">Tipos de tatuaje</a></li>
            <li><a href="#regala" (click)="deactiveMenu()">Regala</a></li>
            <li><a href="#galeria" (click)="deactiveMenu()">Galería</a></li>
            <li><a href="#contacto" (click)="deactiveMenu()">Contacto</a></li>
        </ul>

        <ul>
            <a href="#inicio"><img class="logo" src="../../../assets/img/logo-main.svg" alt=""></a>
        </ul>
    </nav>

    <nav class="desktop">
        <ul>
            <a href="#inicio"><img class="logo" src="../../../assets/img/logo-main.svg" alt=""></a>
        </ul>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#trabajos">Tipos de tatuaje</a></li>
            <li><a href="#regala">Regala</a></li>
            <li><a href="#galeria">Galería</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
</header>