.gallery-container {
  h2 {
    text-align: center;
    font-size: 50px;
  }
}

.gallery {
  columns: 5 320px;
  column-gap: 1em;

  img {
    width: 100%;
    margin-bottom: 1em;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.03);
      filter: brightness(0.6);
    }
  }
}

.show-more,
.close-button {
  background-color: transparent;
  border: none;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo opaco */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 400px;
  max-height: 600px;
  text-align: center;
  position: relative;

  .close-button {
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    width: -moz-fit-content;
    /* Firefox */
    width: -webkit-fit-content;
    /* Chrome y Safari */
    width: fit-content;
    width: -ms-fit-content;
    /* Edge */
    font-size: 20px;
  }
}

/* Estilos para la imagen en el modal */
.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.full-width {
  width: 100%;
  margin: 0;
}

.full-width {
  overflow: hidden;

  @media screen and (min-width:768px) {
    width: 95vw;
    max-width: none;
    margin-left: -120px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: -350px;
  }

}