<div *ngIf="entrance" class="entrance__animation">
  <app-entrance></app-entrance>
</div>

<app-header></app-header>

<main class="container">

  <section data-aos="fade-up" data-aos-offset="100" class="grid inicio" id="inicio">
    <div data-aos="fade-up" [@fadeIn] class="inicio__text">
      <h1>Descubre la pasion que late bajo la piel en Hearty Tattoo.
      </h1>
      <a href="#trabajos">Conoce nuestros trabajos</a>
    </div>
    <div [@fadeIn] class="inicio__logo">
      <img src="../assets/img/logo-animated.svg" width="300" height="300" alt="">
    </div>
  </section>

  <section data-aos="fade-up" data-aos-offset="100" class="trabajos" id="trabajos">

    <app-works data-aos="fade-up" data-aos-offset="100" [title]="'Linea Fina'" [img]="lineaFinaGallery"
      [workTitle]="'Descripción del trabajo'"
      [tattooDescription]="'Cada tatuaje de línea fina es una obra maestra en sí misma, con detalles meticulosos y una estética sofisticada. Ya sea que desees un tatuaje minimalista, una figura geométrica o una delicada ilustración, nuestro equipo experto está listo para plasmar tu visión en tu piel con una técnica impecable.'"
      [workDescription]="'Nuestra sección de tatuajes de línea fina es un verdadero deleite para los amantes de la delicadeza y la precisión. Aquí, nuestros talentosos artistas han dominado el arte de crear diseños intrincados con líneas finas y elegantes. '"
      [direction]="'left'"></app-works>

    <app-works data-aos="fade-down" data-aos-offset="100" [title]="'Puntillismo de arrastre'" [img]="puntillismoGallery"
      [workTitle]="'Descripción del trabajo'"
      [tattooDescription]="'Nuestros artistas expertos han perfeccionado el puntillismo de arrastre para brindarte tatuajes con una estética impresionante y detalles increíbles. Ya sea que busques un diseño abstracto o una ilustración detallada, nuestro equipo se asegurará de que tu tatuaje sea un verdadero trabajo de arte.'"
      [workDescription]="'En nuestra sección de Puntillismo de arrastre, encontrarás tatuajes que fusionan la precisión de los puntos con la sutileza de los trazos. Esta técnica combina pequeños puntos meticulosamente colocados con trazos suaves y arrastrados, creando una apariencia única y fascinante.'"
      [direction]="'right'"></app-works>

    <app-works data-aos="fade-up" data-aos-offset="100" [title]="'BlackWork'" [img]="blackworkGallery"
      [workTitle]="'Descripción del trabajo'"
      [tattooDescription]="'Ya sea que busques un diseño intrincado inspirado en la naturaleza o un tatuaje geométrico abstracto, nuestro equipo experto te brindará un resultado impresionante y duradero.'"
      [workDescription]="'Sumérgete en el mundo oscuro y cautivador de nuestra sección de Blackwork. Los tatuajes de Blackwork se caracterizan por sus audaces diseños en negro sólido y la ausencia de sombreados. Nuestros artistas talentosos han perfeccionado esta técnica y son capaces de crear tatuajes impactantes con una estética poderosa y misteriosa.'"
      [direction]="'left'"></app-works>

    <app-works data-aos="fade-up" data-aos-offset="100" [title]="'Aquarela'" [img]="aquarelaGallery"
      [workTitle]="'Descripción del trabajo'"
      [tattooDescription]="'Los tatuajes de Aquarela se caracterizan por sus trazos sueltos y fluidos, creando un efecto artístico único. Desde flores y animales hasta paisajes y retratos, nuestro equipo talentoso capturará tu visión y la transformará en una obra de arte en movimiento.'"
      [workDescription]="'Si buscas tatuajes llenos de vida, color y suavidad, nuestra sección de Aquarela es el lugar perfecto para ti. Inspirados en la belleza de la acuarela, nuestros artistas expertos pueden transformar tu piel en un lienzo lleno de colores vibrantes y mezclas sutiles.'"
      [direction]="'right'"></app-works>

    <app-works data-aos="fade-up" data-aos-offset="100" [title]="'Composiciones'" [img]="composicionesGallery"
      [workTitle]="'Descripción del trabajo'"
      [tattooDescription]="'Ya sea que desees combinar diferentes estilos, elementos simbólicos o imágenes que te inspiren, nuestro equipo creativo te guiará en cada paso del proceso. Con una atención meticulosa a los detalles y una pasión por la creatividad, estamos comprometidos a crear una obra maestra en tu piel que sea verdaderamente tuya.'"
      [workDescription]="'Nuestra sección de Composiciones es el lugar ideal para aquellos que buscan un tatuaje personalizado y único que cuente una historia. Aquí, nuestros artistas expertos trabajarán contigo para diseñar una composición especial que refleje tus ideas, emociones y significados personales.'"
      [direction]="'left'"></app-works>
  </section>

  <section data-aos="fade-up" data-aos-offset="100" class="regala" id="regala">
    <div class="regala__content grid">
      <div class="regala__content-left">
        <h2>¡Regala arte y pasión con nuestra Tarjeta de Regalo!</h2>
        <p>El regalo perfecto para los amantes del tatuaje. Sorprende a tus seres queridos con la oportunidad de llevar
          consigo una obra maestra personalizada en su piel. Ya sea para una ocasión especial o simplemente para
          hacerles sonreír, nuestra Tarjeta de Regalo
          les abrirá las puertas a un mundo de creatividad y autenticidad. ¡Permite que sus historias se conviertan en
          arte inmortal con la Tarjeta de Regalo de Hearty Tattoo!</p>
        <a href="#contacto">Consigue tu tarjeta regalo</a>
      </div>
      <div class="regala__content-right">
        <img src="../assets/img/tarjeta-regalo.png" alt="Imagen de las tarjetas de regalo">
      </div>
    </div>
  </section>

  <app-gallery data-aos="fade-up" data-aos-offset="100"></app-gallery>

  <app-sobre-mi data-aos="fade-up" data-aos-offset="100"></app-sobre-mi>

  <section data-aos="fade-up" data-aos-offset="100" class="contacto-container" id="contacto">
    <div class="contacto grid">
      <div class="contacto__left">
        <div class="cordoba">
          <img src="" alt="">
          <h2>Córdoba</h2>
        </div>
        <p>Hearty Tattoo Studio Córdoba</p>
        <p>Calle Pintor Lozano Sidro</p>
        <a href="">Cómo llegar</a>
        <div class="contacto__options">
          <h3>Contacto</h3>
          <ul>
            <li><a href="tel:+34669140379">669 14 03 79</a></li>
            <li><a href="mailto:heartytattoo@gmail.com">heartytattoo@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="contacto__right">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.838958447637!2d-4.778758299999999!3d37.910826699999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6cdf0e330fc13b%3A0xf7673a375c6400c0!2sC.%20Pintor%20Lozano%20Sidro%2C%2014012%20C%C3%B3rdoba!5e0!3m2!1ses!2ses!4v1684917022401!5m2!1ses!2ses"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>