.entrance__animation {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    animation: OUT 5s;
    animation-iteration-count: 1;
}

@keyframes OUT {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.inicio {
    padding: 9em 0;

    .inicio__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inicio__logo img {
        margin: auto;
        width: 500px;
    }
}

.trabajos {
    border-bottom: 1px solid white;
}

.regala {
    border-bottom: 1px solid white;
    padding-bottom: var(--block-spacing-vertical);
}