.entrance__animation {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    animation: OUT 5s;
    animation-iteration-count: 1;
}

@keyframes OUT {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#backgroundVideo {
    filter: brightness(0.3);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin: auto;
    z-index: -1;
}
.inicio {
padding: 6em 1em;
        display: flex;
    flex-direction: column;
        margin-top: -60px;
    
        @media screen and (min-width: 768px) {
            flex-direction: row;
            margin-top: -70px;
        }
    
        @media screen and (max-width: 992px) {
            .inicio {
                margin-top: -100px;
            }
    
            .inicio__logo img {
                width: 300px;
            }
    
            .inicio__text h1 {
                font-size: 50px;
            }
        }

    .inicio__text {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inicio__logo img {
        margin: auto;
        width: 500px;
    }
}

.trabajos {
    border-bottom: 1px solid white;
}

.regala {
    border-bottom: 1px solid white;
    padding-bottom: var(--block-spacing-vertical);

    .regala__content-right {
        display: flex;
        align-items: center;
    }
}
.contacto__left {
    .location {
        text-decoration: none;


        i-feather {
            margin-right: .5em;
        }
    }
}


.contacto__options {
    margin-top: 1em;
    ul {
        li {
            list-style: none;
            margin-bottom: 1em;

            a {
                text-decoration: none;
            }

            i-feather {
                margin-right: .5em;
            }
        }
    }
}