<section class="sobre-mi" id="sobre-mi">
    <div class="grid sobre-mi__container">
        <div class="sobre-mi__container-img">
            <img src="../../../assets/img/sobre-mi.jpg" alt="">
        </div>
        <div class="sobre-mi__container-content">
            <h2>Sobre mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae ullam sit quam, a repellat quas
                necessitatibus et perspiciatis facilis doloribus modi provident at quos nemo iure incidunt
                exercitationem minima!</p>
        </div>
    </div>
</section>