.sobre-mi__container {
    column-gap: 2em;

    .sobre-mi__container-img {
        img {
            border-radius: 20px;
            filter: grayscale(100%);
            transition: filter 0.3s ease-in-out;
            margin-bottom: 1em;

            &:hover {
                filter: grayscale(0%);
            }
        }

    }

    .sobre-mi__container-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}