<section class="sobre-mi" id="sobre-mi">
    <div class="grid sobre-mi__container">
        <div class="sobre-mi__container-img">
            <img src="../../../assets/img/sobre-mi.jpg" alt="">
        </div>
        <div class="sobre-mi__container-content">
            <h2>Sobre mí</h2>
                <p><strong>Hola! Mi nombre es Aurora soy de Córdoba.</strong></p>
                <p>Empecé dibujando cuando solo era una niña y desde entonces he sabido que mi vida estaría ligada al arte.
                    Ningún comienzo es fácil.
                    Como todo el mundo, también me he encontrado baches en el camino, pero si me preguntas, nunca me he rendido. Porque
                    cualquier esfuerzo realizado merece la pena para ofrecerte ahora la mejor calidad. En el 2019 descubrí el gran mundo
                    del tatuaje, y desde ese momento no he dejado de aprender de este maravilloso mundo.
                </p>
                <p>Llevo tatuando mas de 5 años, mi estilo se especializa en líneas finas y puntillismo de arrastre. Además dominó y
                    disfrutó realizando tatuajes de Blackwork, Aquarela y
                    Composiciones, Disfruto mucho convirtiendo tu idea en realidad.
                    Todos tenemos una pasión. ¡Esta es la mía! Estare encantada de ayudaros y guiaros en todo lo que necesiteis.</p>
        </div>
    </div>
</section>