.camisetas {
    border-top: 1px solid white;
    padding-top: 2em;
}

.camisetas__container {
    column-gap: 2em;

    .camisetas__container-img {
        img {
            border-radius: 20px;
            margin-bottom: 1em;
        }

    }

    .camisetas__container-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}