/* You can add global styles to this file, and also import other style files */
@import url('/node_modules/@picocss/pico/css/pico.css');

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

// @font-face {
//     font-family: 'FunkySignature';
//     src: url('./fonts/FunkySignature.ttf') format('truetype');
// }


::selection {
    background-color: hsl(205, 16%, 77%);
    color: #11191f;
}

html {
    scroll-behavior: smooth;
}

[data-theme=dark] {
    --background-color: #0a0b0b;
}

body {
    font-family: 'Wix Madefor Display', sans-serif;
}

h1,
.collegiate {
    // font-family: 'FunkySignature', sans-serif;
        font-family: 'Dancing Script', cursive;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: 'Wix Madefor Display', sans-serif;
    margin-bottom: .5em;

}

h1 {
    font-size: 50px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 70px;
    }
}
a {
    color: white;
    text-decoration: underline;

    &:focus {
        background-color: transparent;
    }

}
i-feather {
    svg {
        fill: none;

        .color {
            fill: currentColor;
        }
    }
}